<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add
			name="DeafultConnection"
			connectionString="Server=localhost,63027;Database=PaperStore;Trusted_connection=True"
			providerName="System.Data.SqlClient"/>
		<add
			name="ConnectionLocalDb"
			connectionString="Server=(localdb)\mssqllocaldb;Database=PaperStore;Trusted_Connection=True;"
			providerName="System.Data.SqlClient"/>

	</connectionStrings>

</configuration>